*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
section{
  width: 100%;
  display: inline;
  align-items: center;
  justify-content: center;
}
#sec-2{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 50px;
}


.scroll-down{
height: 50px;
width: 30px;
border: 2px solid white;
position: fixed;
right: 5px;
bottom: 20px;
border-radius: 50px;
cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
content:'';
position: absolute;
top: 20%;
left: 50%;
border: 2px solid white;
height: 10px;
width: 10px;
transform: translate(-50%, -50%) rotate(45deg);
border-top: transparent;
border-left:transparent;
animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
top:30%;
animation-delay: .3s;
}
@keyframes scroll-down{
0%{
  opacity: 0;
}
30%{
  opacity: 1;
}
60%{
  opacity: 1;
}
100%{
  opacity: 0;
  top: 90%;
}
}

button {
background-color:teal ;
border: none;
color: rgba(255, 255, 255, 0.74);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px; 
transition-duration: 0.5s;
}
button:hover {
background-color: teal
}

  body {
    text-align: center;
  }
  
  .show {display: block;}
  
  body {
    background-color: rgba(255, 255, 255, 0.74);
    background-image: url("http://skiveprayertimes.dk/dark-blue-texture.jpg");
    background-size: cover;
  }
  
  
  table {
    background-image: url("http://skiveprayertimes.dk/dark-blue-texture.jpg");;
    border-radius: 9px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    width: 35%;
    border: 2px solid grey;
    margin-left: 32.5%;  
    margin-bottom: 8%;  
    margin-top: -50px;
  }
  th {
    background-image: url("http://skiveprayertimes.dk/dark-blue-texture.jpg");;
    color: rgba(255, 255, 255, 0.74);
    font-family: Arial, Helvetica, sans-serif;
    height: 37px;
    font-weight: bold;
    font-size: 20px;
  }
  td {
    background-image: url("http://skiveprayertimes.dk/dark-blue-texture.jpg");
    color: rgba(255, 255, 255, 0.74);
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    border-radius: 5px;
    width:0.1%;
    white-space: nowrap;
    ;
  }
  g {
    width: 100%;
    padding-left: 3%;
  }
  h1 {
    position: relative;
    color: teal;
    text-align: center;
    font-size: 500%;
  }
  h2 {
    color: teal;
    font-size: 300%;
    width: 95%;
    text-align: left;
  }
  h3 {
    color: teal; 
    font-size: 150%;
    width: 95%;
    text-align: left;
  }
  h4 {
    color: teal;
    width: 95%;
    text-align: left;
  }
  p {
    color: rgba(255, 255, 255, 0.74);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 75%;
    font-size: 125%;
    display: inline-block;
    line-height: 32px;
    position: center;
  }
  ul {
    color: rgba(255, 255, 255, 0.74);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    width: 75%;
    font-size: 125%;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    list-style-position: inside;
  }
  div {
    background-color: rgba(255, 255, 255, 0.05);
    background-repeat: no-repeat;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .content2 {
    margin-left: 13%;
  }
  a {
    color: rgba(255, 255, 255, 0.74);
    text-decoration: none; 
    }
  .p-menu1{
    position: absolute;
    height: 100%;
    width: 150px;
    margin-top: -5%;
    margin-left: -50%;
  }
  #navbar {
    position: absolute;
    align-content: center;
    margin-top: 3px;
    margin-left: 12px;
  }

  .hamburger1 {
    height: 30px;
    margin: 15px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 9px);
    justify-items: center;
    z-index: 120;
  }
  .hamburger1 div {
    background-color: rgba(255, 255, 255, 0.74);
    position: relative;
    width: 35px;
    height: 4px;
    margin-top: 10px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.74);
  }
  #toggle1 {
    display: none;
  }
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 18px;
  }
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
  }
  #toggle1:checked ~ .menu1 {
    height: 240px;
  }
  /* Menu */
  .menu1 {
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
  .menu1 a:first-child {
  margin-top: 40px;
  }
  .menu1 a:last-child {
  margin-bottom: 40px;
  }
  .link1 {
    margin: 0;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.74);
    border: solid 1px;
    border-left: none;
    border-right: none;
  }
  .link1:hover {
    color: rgba(255, 255, 255, 0.74);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: teal;
  }
  p.intro {
    margin-left: 13%;
  }
 
  a:link {
    background-color: transparent;
    text-decoration: none;
  }
  
  a {
    color: teal;
  }

  a:hover {
    color:teal;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
  }
  select {
    background: rgb(48,55,65);
    background: linear-gradient(90deg, rgba(48,55,65,1) 64%, teal 100%);
    color: rgba(255, 255, 255, 0.74);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    line-height: 1.1;
    text-align: center;
    width: 35%;
  }
  option {
    background-color: rgb(48,55,65);
}

.svar2 {
text-align: center;
font-weight: bold;
font-size: 22px;
color: teal;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sociale {
padding-right: 2%;
margin: -5px;
float: left;
margin-left: 5px;
position: fixed;
left: 5px;
bottom: 5px;
}
.sociale:hover{
opacity: 50%;
transition-duration: 0.8s;
}

.sociale1 {
padding-right: 2%;
margin: -5px;
float: left;
margin-left: 5px;
position: fixed;
left: 5px;
bottom: 5px;
opacity: 50%;
margin-bottom: 2px;
}
.sociale1:hover{
opacity: 100%;
transition-duration: 0.8s;
}

.sociale2 {
padding-right: 2%;
margin: -5px;
float: left;
margin-left: 55px;
position: fixed;
left: 5px;
bottom: 5px;
opacity: 50%;
margin-bottom: 2px;
}
.sociale2:hover{
opacity: 100%;
transition-duration: 0.8s;
}

.sociale3 {
padding-right: 2%;
margin: -5px;
float: left;
margin-left: 105px;
position: fixed;
left: 5px;
bottom: 5px;
opacity: 50%;
margin-bottom: 2px;
}
.sociale3:hover{
opacity: 100%;
transition-duration: 0.8s;
}